<phpunit bootstrap="tests/phpunit.bootstrap.php"
         colors="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false"
         stopOnFailure="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuite name="Tests">
        <directory suffix="Test.php">./tests</directory>
    </testsuite>
    <php>
    </php>
    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <file>src/AwsUtility/Command/CommandRegistry.php</file>
                <directory>src/AwsUtility/Command</directory>
                <directory>src/AwsUtility/Command</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>